<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.nickname.NicknameActivity"
            android:exported="false"
            android:label="修改昵称" />
        <activity
            android:name=".ui.signature.SignatureActivity"
            android:exported="false"
            android:label="修改个性签名" />
        <activity
            android:name=".ui.UserInfoActivity"
            android:exported="false"
            android:label="用户信息" />
    </application>

</manifest>