<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.MathActivity"
            android:exported="false" />
        <activity
            android:name=".ui.subtraction.SubtractionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.multiplication.MultiplicationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.division.DivisionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addition.AdditionActivity"
            android:exported="false" />
    </application>

</manifest>