<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhihu.matisse">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.zhihu.matisse.ui.MatisseActivity" />
        <activity android:name="com.zhihu.matisse.internal.ui.AlbumPreviewActivity" />
        <activity android:name="com.zhihu.matisse.internal.ui.SelectedPreviewActivity" />
    </application>
</manifest>